.btn-circle {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-left: 30px;
}

.container {
    // margin-left: 263px;
     margin-top: 142px;
    display: inline-flex;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    /* 100% of viewport width */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.logoutbtn {
    margin-top: 30px;
    margin-left: 1300px;
}

.navbar {
    background-color: #eb3941 !important;
}

.card {
    width: 300px;
    height: 150px;
    margin-left: 50px;
    box-shadow: 0px 0px 6px #6c757d !important;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}

.card1 {
    background-color: #000;
    // background-color: rgb(30, 23, 23) !important;
}

.card2 {
    background-color: #000;
    // background-color: rgb(30, 23, 23) !important;
}

.card3 {
    background-color: #000;
    // background-color: rgb(30, 23, 23) !important;
}
.card4 {
    background-color: #000;
    // background-color: rgb(30, 23, 23) !important;
    // margin-left: 675px;
    // margin-top: 100px;
}


.btnDrpdown {
    font-size: 12px;
    margin-left: 182px;
    background-color: black;
    border-color: #212121 !important;
}

#count {
    color: white;
    text-align: center;
    width: 43px;
    height: 37px;
    // background: #00f2c3;
    // background-image: linear-gradient(to bottom left,grey,#eb4228,grey);
    border-radius: 50%;
    border: 1px solid grey;
}

#text {
    color: green;
    text-align: center;
}

.heading {
    margin-bottom: 30px;
    position: absolute;
}
#myChart{
    margin-left: 121px;
    margin-top: 10px;
}
.dropdown{
    margin-left: 200px;
    background-color: red;

}
